@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 34, 34, 34;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 239, 240, 241;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* canvas {
  @apply absolute top-0 left-0 right-0 bottom-0 w-full h-full min-h-screen;
} */

h1,
h2,
h3,
h4,
h5,
h6,
p,
small,
strong,
input {
  margin: 0;
  padding: 0;

  line-height: 1.1em;

  text-wrap: balance;
}

h1 {
  font-size: clamp(124px, 20vh, 156px);
  color: #119595;
  letter-spacing: -0.075em;

  @media only screen and (max-width: 768px) {
    font-size: clamp(100px, 60vw, 124px);
    line-height: 1em;
  }
}

h2 {
  font-size: clamp(32px, 6vh, 56px);
  line-height: 1.1em;

  @media only screen and (max-width: 768px) {
    font-size: clamp(36px, 9.5vw, 48px);
  }
}

h3 {
  font-size: clamp(24px, 5vw, 28px);
}

h4 {
  font-size: clamp(20px, 3vh, 22px);
}

h5 {
  font-size: clamp(18px, 1vw, 20px);
  line-height: 1.2em;

  max-width: 500px;

  @media only screen and (max-width: 768px) {
    font-size: clamp(16px, 1.2vw, 18px);
  }
}

p {
  font-size: clamp(12px, 1vw, 12px);
}

button {
  @apply inline-block px-8 md:px-12 py-4 md:py-6 text-sm text-[20px] leading-5 text-white transition duration-150 ease-in-out bg-[#119595] border border-transparent rounded-md hover:bg-[#2d335d] focus:outline-none focus:border-gray-700 active:bg-gray-700;
}

.bg-grid {
  box-shadow: rgba(149, 157, 165, 0.2) 0px -8px 24px;
}

.bg-grid:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  background-image: url(/textures/noise.png);
  background-size: 100px;
  opacity: 0.2;
  pointer-events: none;
}

.bg-grid:after {
  @apply content-[''] absolute top-0 left-0 right-0 bottom-0 z-[-1] w-full h-full min-h-screen;
  opacity: 0.8;
  background-image: linear-gradient(
      rgb(var(--background-end-rgb)) 1px,
      transparent 1px
    ),
    linear-gradient(
      to right,
      rgb(var(--background-end-rgb)) 1px,
      transparent 1px
    );
  background-size: 20px 20px;

  mask-image: linear-gradient(to right, transparent 10%, black 100%);

  pointer-events: none;
}

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}
